.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 108px;
}
.container-fluid {
  display: none;
}
.photo {
  margin-top: -15px;
}
.socialMedias i,
.rightsReserved,
.rightsReserved i,
.photo,
.photo a {
  align-self: center;
  color: white;
}
.socialMedias i {
  padding: 5px;
  margin-bottom: 5%;
}
i {
  color: black;
  text-align: center;
}
@media all and (max-width: 450px) {
  .container {
    display: none;
  }
  .container-fluid {
    display: contents;
    margin-top: -80px;
  }
  .socialMedias,
  .rightsReserved {
    align-self: center;
  }
  .socialMedias button {
    margin-left: 20%;
  }
  .socialMedias i {
    padding: 5px;
  }
  i {
    color: black;
    text-align: center;
  }
}
