<div class="container">
    <section class="rightsReserved ">

        <p class="text-center"><i class="far fa-copyright"></i> 2021 Antoni Danov. All rights reserved.</p>
    </section>
    <section class="socialMedias">
        <button class="btn" type="button"><a href="https://github.com/antoni-danov/MEAN-Firebase" target="_blank"><i
                    class="fab fa-github-square fa-3x"></i></a></button>
        <button class="btn"><a href="https://www.linkedin.com/in/antoni-danov-33393190/" target="_blank"><i
                    class=" fab fa-linkedin fa-3x"></i></a></button>
    </section>
</div>
<div class="container-fluid mt-4">
    <section class="rightsReserved ">

        <p class="text-center"><i class="far fa-copyright"></i> 2021 Antoni Danov. All rights reserved.</p>
    </section>
    <section class="socialMedias">
        <button class="btn" type="button"><a href="https://github.com/antoni-danov/MEAN-Firebase" target="_blank"><i
                    class="fab fa-github-square fa-3x"></i></a></button>
        <button class="btn"><a href="https://www.linkedin.com/in/antoni-danov-33393190/" target="_blank"><i
                    class=" fab fa-linkedin fa-3x"></i></a></button>
    </section>
</div>