.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding-bottom: 25px;
}
.container-fluid {
  display: none;
}
.socialMedias,
.rightsReserved {
  align-self: center;
}
.socialMedias i {
  padding: 5px;
}
i {
  color: black;
  text-align: center;
}
@media all and (max-width: 450px) {
  .container {
    display: none;
  }
  .container-fluid {
    display: block;
    margin-top: -80px;
  }
  .socialMedias,
  .rightsReserved {
    align-self: center;
  }
  .socialMedias button {
    margin-left: 20%;
  }
  .socialMedias i {
    padding: 5px;
  }
  i {
    color: black;
    text-align: center;
  }
}
