<div class="container mt-5">
    <section class="rightsReserved mx-5 align-text-bottom">
        <p class="text-center"><i class="far fa-copyright"></i> 2021 Antoni Danov. All rights reserved.</p>
    </section>
    <section class="socialMedias">
        <button class="btn" type="button"><a href="https://github.com/antoni-danov/MEAN-Firebase" target="_blank"><i
                    class="fab fa-github-square fa-3x"></i></a></button>
        <button class="btn" type="button"><a href="https://www.linkedin.com/in/antoni-danov-33393190/"
                target="_blank"><i class="fab fa-linkedin-in fa-3x"></i></a></button>
    </section>
    <section class="photo"> Photo by <a
            href="https://unsplash.com/@martzzl?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marcel
            Strauß</a> on <a
            href="https://unsplash.com/s/photos/handyman?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </section>
</div>
<div class="container-fluid mt-4">
    <section class="rightsReserved mb-4">
        <p class="text-center "><i class="far fa-copyright"></i> 2021 Antoni Danov. All rights reserved.</p>
    </section>
    <section class="socialMedias">
        <button class="btn" type="button"><a href="https://github.com/antoni-danov/MEAN-Firebase" target="_blank"><i
                    class="fab fa-github-square fa-3x"></i></a></button>
        <button class="btn" type="button"><a href="https://www.linkedin.com/in/antoni-danov-33393190/"
                target="_blank"><i class="fab fa-linkedin-in fa-3x"></i></a></button>
    </section>
    <section class="photo text-center"> Photo by <a
            href="https://unsplash.com/@martzzl?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marcel
            Strauß</a> on <a
            href="https://unsplash.com/s/photos/handyman?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </section>
</div>