@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
@media all and (max-width: 450px) {
  html,
  body {
    width: 100%;
  }
}
