body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
.container{
    width: 70%;
    height: 135%;
    border-radius: 15px;

    text-align:start;
    padding: 25px 50px; 
    margin: 3% 15%;
    background-color: white;   

    -webkit-box-shadow: 6px 5px 13px 6px rgba(0,0,0,0.73); 
    box-shadow: 6px 5px 13px 6px rgba(0,0,0,0.73);
}
h2{
    margin-bottom: 35px;
}
.checked{
    color: green;
}
.asteriks{
    color: red;
}
button{
    background-color: rgb(20, 196, 172);
    color: white;
    margin: 2% 20% 4% 18%;
    padding: 2% 25%;
}
.accountExist, h2{
    text-align: center;
}
.alert{
    color: red;
    padding: 2px;
    text-align: center;
    font-size: 13px;   
    margin-top: 1px;
    margin-bottom: 1px;
}