<div class="mobileContainer">
    <div class="col-sm-6 my-3">
        <div class="input-group">
            <input placeholder="Search" type="text" (keyup)="getValue($event.target)"
                class="form-control border rounded-pill" id="search">
        </div>
    </div>
    <button class="dropdown btn" style="font-size:25px;cursor:pointer">Filters &#9776;
        <div class="dropdown-content">
            <button type="button" id="all" class="btn btn-success mx-2" (click)="reload()">All</button>
            <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Plumbers</button>
            <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Electricians</button>
            <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Carpenters</button>
            <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Tailors</button>
            <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Locksmiths</button>
            <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Painters</button>
            <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Heat
                engineers</button>
        </div>
    </button>
    <div class="mobileProfession">
        <div *ngIf="spiner" class="d-flex justify-content-center mt-5">
            <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
            </div>
        </div>
        <div *ngFor="let item of allProfessions | instantSearch: searchValue">
            <div class="mainCard m-4">
                <div class="card" style="width: 16rem;">
                    <div class="text-center">
                        <div class="card-body">
                            <img class="col-sm-4 rounded float-left" src="../../../assets/images/builder.png"
                                alt="Card image cap">
                            <h4 class="card-title mt-3"><strong> {{item.profession | titlecase}} </strong></h4>
                            <p class="card-text">
                            <p><strong>Name:</strong> {{item.firstname | titlecase}} {{item.lastname | titlecase}}</p>
                            <p><strong>Profession:</strong> {{item.profession | titlecase}}</p>
                            <p><strong>City:</strong> {{item.address.city | titlecase}}</p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary mb-3" (click)="canActivate(item.uid)">Get in touch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-6 my-3">
        <div class="input-group">
            <input placeholder="Search" type="text" (keyup)="getValue($event.target)"
                class="form-control border rounded-pill" id="search">
        </div>
    </div>
    <section class="buttons mx-4">
        <button type="button" id="all" class="btn btn-success mx-2" (click)="reload()">All</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Plumbers</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Electricians</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Carpenters</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Tailors</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Locksmiths</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Painters</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Heat engineers</button>
    </section>
    <hr>
    <div class="cards" *ngIf="list">
        <div *ngFor="let item of allProfessions | instantSearch: searchValue">
            <div class="mainCard m-4">
                <div class="card" style="width: 16rem;">
                    <div class="text-center">
                        <div class="card-body">
                            <img class="col-sm-4 rounded float-left" src="../../../assets/images/builder.png"
                                alt="Card image cap">
                            <h4 class="card-title mt-3"><strong> {{item.profession | titlecase}} </strong></h4>
                            <p class="card-text">
                            <p><strong>Name:</strong> {{item.firstname | titlecase}} {{item.lastname | titlecase}}</p>
                            <p><strong>Profession:</strong> {{item.profession | titlecase}}</p>
                            <p><strong>City:</strong> {{item.address.city | titlecase}}</p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary mb-3" (click)="canActivate(item.uid)">Get in touch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards" *ngIf="profession">
        <div *ngFor="let item of singleProfession">
            <div class="mainCard m-4">
                <div class="card" style="width: 16rem;">
                    <div class="text-center">
                        <div class="card-body">
                            <img class="col-sm-4 rounded float-left" src="../../../assets/images/builder.png"
                                alt="Card image cap">
                            <h4 class="card-title mt-3"><strong> {{item.profession | titlecase}} </strong></h4>
                            <p class="card-text">
                            <p><strong>Name:</strong> {{item.firstname | titlecase}} {{item.lastname | titlecase}}</p>
                            <p><strong>Profession:</strong> {{item.profession | titlecase}}</p>
                            <p><strong>City:</strong> {{item.address.city | titlecase}}</p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary mb-3" (click)="canActivate(item.uid)">Get in touch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyCategory" *ngIf="profession && singleProfession.length == 0">
        <h3>There is no Professionals for the moment on this category.</h3>
    </div>
</div>