.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4%;
}
.card {
  -webkit-box-shadow: 6px 5px 13px 6px rgba(0, 0, 0, 0.73);
  box-shadow: 6px 5px 13px 6px rgba(0, 0, 0, 0.73);
}
.search button,
#all {
  background-color: rgb(20, 196, 172);
  color: white;
  margin-right: 25px;

  align-items: center;
  margin: 0% 20%;
  border: none;
}
hr {
  border: 1px solid black;
}
.col-sm-6 {
  margin-left: 30px;
}
.emptyCategory {
  text-align: center;
}
img {
  width: 35%;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  background-color: rgb(20, 196, 172);
  color: white;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #e6e214;
}
.mobileContainer,
.mobileProfession {
  display: none;
}

@media all and (max-width: 450px) {
  .mobileContainer,
  .mobileProfession {
    display: block;
  }
  .container,
  cards {
    display: none;
  }
  .dropdown {
    color: white;
  }
  .search {
    margin-right: 5px;
  }
  .col-sm-6 {
    margin: 0;
  }
  .allCards,
  .mainCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
