<div class="mobileContainer">
    <div class="col-sm-6 my-3">
        <div class="input-group">
            <input placeholder="Search" type="text" (keyup)="getValue($event.target)"
                class="form-control border rounded-pill" id="search">
        </div>
    </div>
    <button class="dropdown btn" style="font-size:25px;cursor:pointer">Filters &#9776;
        <div class="dropdown-content">
            <option id="all" class="btn btn-success mx-2" (click)="reload()">All</option>
            <option class="btn btn-warning mx-3" (click)="professionsFilter($event)">Plumbers</option>
            <option class="btn btn-warning mx-3" (click)="professionsFilter($event)">Electricians</option>
            <option class="btn btn-warning mx-3" (click)="professionsFilter($event)">Carpenters</option>
            <option class="btn btn-warning mx-3" (click)="professionsFilter($event)">Tailors</option>
            <option class="btn btn-warning mx-3" (click)="professionsFilter($event)">Locksmiths</option>
            <option class="btn btn-warning mx-3" (click)="professionsFilter($event)">Painters</option>
            <option class="btn btn-warning mx-3" (click)="professionsFilter($event)">Heat
                engineers</option>
        </div>
    </button>
    <div class="mobileProfession">
        <div *ngIf="list">
            <div *ngIf="spiner" class="d-flex justify-content-center mt-5">
                <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
                </div>
            </div>
            <pagination-controls *ngIf="!spiner" class="myPagination" (pageChange)="p = $event"></pagination-controls>
            <div class="allCards"
                *ngFor="let item of allProfessions | instantSearch: searchValue | paginate: { itemsPerPage: 10, currentPage: p }">
                <div class="mainCard mb-2">
                    <button class="btn btn-light" (click)="canActivate(item.uid)">
                        <div class="text-center">
                            <div class="card-body">
                                <img *ngIf="item.profession == 'electrician'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/electricity.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'heat engineer'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/climatisation.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'tailor'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/tailoring.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'plumber'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/plumbing.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'painter'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/painting.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'carpenter'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/carpenter.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'locksmith'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/house-key.png" alt="Card image cap">
                                <div class="mainInfo mx-5">
                                    <h5 class="card-title text-center"><strong> {{item.firstname | titlecase}}
                                            {{item.lastname |
                                            titlecase}}</strong>
                                    </h5>
                                    <h6 class="card-title text-center"><strong> {{item.profession | titlecase}}
                                        </strong>
                                    </h6>
                                </div>
                                <div class="city text-center">
                                    <p><strong></strong><br> {{item.address.city | titlecase}}</p>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <pagination-controls *ngIf="!spiner" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="cards" *ngIf="profession">
            <div *ngIf="spiner" class="d-flex justify-content-center mt-5">
                <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
                </div>
            </div>
            <pagination-controls *ngIf="!spiner" (pageChange)="p = $event"></pagination-controls>
            <div *ngFor="let item of singleProfession | paginate: { itemsPerPage: 10, currentPage: p }">
                <div class="mainCard mb-2">
                    <button class="btn btn-light" (click)="canActivate(item.uid)">
                        <div class="text-center">
                            <div class="card-body">
                                <img *ngIf="item.profession == 'electrician'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/electricity.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'heat engineer'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/climatisation.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'tailor'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/tailoring.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'plumber'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/plumbing.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'painter'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/painting.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'carpenter'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/carpenter.png" alt="Card image cap">
                                <img *ngIf="item.profession == 'locksmith'" class="col-sm-4 rounded float-left"
                                    src="../../../assets/icons/house-key.png" alt="Card image cap">
                                <div class="mainInfo mx-5">
                                    <h5 class="card-title text-center"><strong> {{item.firstname | titlecase}}
                                            {{item.lastname |
                                            titlecase}}</strong>
                                    </h5>
                                    <h6 class="card-title text-center"><strong> {{item.profession | titlecase}}
                                        </strong>
                                    </h6>
                                </div>
                                <div class="city text-center">
                                    <p><strong></strong><br> {{item.address.city | titlecase}}</p>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <pagination-controls *ngIf="!spiner" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-6 my-3">
        <div class="input-group">
            <input placeholder="Search" type="text" (keyup)="getValue($event.target)"
                class="form-control border rounded-pill" id="search">
        </div>
    </div>
    <section class="buttons mx-4">
        <button type="button" id="all" class="btn btn-success mx-2" (click)="reload()">All</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Plumbers</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Electricians</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Carpenters</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Tailors</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Locksmiths</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Painters</button>
        <button type="button" class="btn btn-warning mx-3" (click)="professionsFilter($event)">Heat engineers</button>
    </section>
    <hr>
    <div *ngIf="spiner" class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>
    <pagination-controls *ngIf="!spiner" class="text-center" (pageChange)="p = $event"></pagination-controls>

    <div class="cards" *ngIf="list">
        <div
            *ngFor="let item of allProfessions | instantSearch: searchValue | paginate: { itemsPerPage: 9, currentPage: p }">
            <div class="mainCard m-4">
                <div class="card" style="width: 16rem;">
                    <div class="text-center">
                        <div class="card-body">
                            <img *ngIf="item.profession == 'electrician'" class="col-sm-4 rounded float-left"
                                src="../../../assets/icons/electricity.png" alt="Card image cap">
                            <img *ngIf="item.profession == 'heat engineer'" class="col-sm-4 rounded float-left"
                                src="../../../assets/icons/climatisation.png" alt="Card image cap">
                            <img *ngIf="item.profession == 'tailor'" class="col-sm-4 rounded float-left"
                                src="../../../assets/icons/tailoring.png" alt="Card image cap">
                            <img *ngIf="item.profession == 'plumber'" class="col-sm-4 rounded float-left"
                                src="../../../assets/icons/plumbing.png" alt="Card image cap">
                            <img *ngIf="item.profession == 'painter'" class="col-sm-4 rounded float-left"
                                src="../../../assets/icons/painting.png" alt="Card image cap">
                            <img *ngIf="item.profession == 'carpenter'" class="col-sm-4 rounded float-left"
                                src="../../../assets/icons/carpenter.png" alt="Card image cap">
                            <img *ngIf="item.profession == 'locksmith'" class="col-sm-4 rounded float-left"
                                src="../../../assets/icons/house-key.png" alt="Card image cap">
                            <h4 class="card-title mt-3"><strong> {{item.profession | titlecase}} </strong></h4>
                            <p class="card-text">
                            <p><strong>Name:</strong> {{item.firstname | titlecase}} {{item.lastname | titlecase}}</p>
                            <p><strong>Profession:</strong> {{item.profession | titlecase}}</p>
                            <p><strong>City:</strong> {{item.address.city | titlecase}}</p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary mb-3" (click)="canActivate(item.uid)">Get in touch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls *ngIf="!spiner" class="text-center" (pageChange)="p = $event"></pagination-controls>
    <pagination-controls *ngIf="!spiner" class="text-center" (pageChange)="p = $event"></pagination-controls>

    <div class="cards" *ngIf="profession">
        <div *ngFor="let item of singleProfession | paginate: { itemsPerPage: 9, currentPage: p }">
            <div class="mainCard m-4">
                <div class="card" style="width: 16rem;">
                    <div class="text-center">
                        <div class="card-body">
                            <img class="col-sm-4 rounded float-left" src="../../../assets/images/builder.png"
                                alt="Card image cap">
                            <h4 class="card-title mt-3"><strong> {{item.profession | titlecase}} </strong></h4>
                            <p class="card-text">
                            <p><strong>Name:</strong> {{item.firstname | titlecase}} {{item.lastname | titlecase}}</p>
                            <p><strong>Profession:</strong> {{item.profession | titlecase}}</p>
                            <p><strong>City:</strong> {{item.address.city | titlecase}}</p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary mb-3" (click)="canActivate(item.uid)">Get in touch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls *ngIf="!spiner" class="text-center" (pageChange)="p = $event"></pagination-controls>

    <div class="emptyCategory" *ngIf="profession && singleProfession.length == 0">
        <h3>There is no Professionals for the moment on this category.</h3>
    </div>
</div>
<hr>
<div id="icons" class="dropdown text-center">
    <div>
        <button class="btn btn-light btn-sm mb-1">
            Icons credentials
            <i class="fa fa-caret-down m-2"></i>
        </button>
        <div class="dropdown-content">
            <a href="https://www.flaticon.com/free-icons/house-key" title="house key icons">House key created by
                nawicon</a>
            <a href="https://www.flaticon.com/free-icons/tailor" title="tailor icons">Tailor icons created by
                BZZRINCANTATION</a>
            <a href="https://www.flaticon.com/free-icons/diy" title="DIY icons">DIY icons created by Smashicons</a>
            <a href="https://www.flaticon.com/free-icons/paint" title="paint icons">Paint icons created by
                Smashicons</a>
            <a href="https://www.flaticon.com/free-icons/air-conditioning" title="air conditioning icons">Air
                conditioning icons created by surang</a>
            <a href="https://www.flaticon.com/free-icons/electrician" title="electrician icons">Electrician icons
                created by Freepik</a>
            <a href="https://www.flaticon.com/free-icons/plumbing" title="plumbing icons">Plumbing icons created by
                Freepik</a>
        </div>
    </div>
</div>