.errorMessage h1{
    text-align: center;
    margin: 4% 25% 2% 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.solution{
    text-align: center;
}