<div class="profile mt-5" *ngIf="profile">
    <div class="container" *ngIf="userInfo">
        <div class="row" *ngIf="!isOwner">
            <div style="width: 14rem;">
                <img class="col-sm-6 rounded float-left mx-3" src="../../../../assets/images/builder.png"
                    alt="Card image cap">
            </div>
            <div class="col">
                <h4><strong>Profile information: </strong></h4>
                <br>
                <div class="row float-right">
                    <p><strong>Name:</strong> {{userInfo.firstname | titlecase}} {{userInfo.lastname | titlecase}}
                    </p>
                </div>
                <div class="row float-right">
                    <div class="col"><strong>Email: </strong><button class="btn btn-info" routerLink="/contact">
                            {{userInfo.email}}</button></div>
                </div>
                <div class="row float-right my-3">
                    <div class="col">
                        <p><strong>Phone:</strong> {{userInfo.phonenumber}}</p>
                    </div>
                </div>
                <div class="row float-right">
                    <p><strong>City:</strong> {{userInfo.address.city | titlecase}}</p>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary my-5" routerLink="/main">Go Back</button>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isOwner">
            <div style="width: 14rem;">
                <img class="col-sm-6 rounded float-left mx-3" src="../../../../assets/images/builder.png"
                    alt="Card image cap">
            </div>
            <div class="col">
                <h4><strong>Profile information: </strong></h4>
                <br>
                <div class="row float-right">
                    <p><strong>Name:</strong> {{userInfo.firstname | titlecase}} {{userInfo.lastname | titlecase}}
                    </p>
                </div>
                <div class="row float-right">
                    <div class="col"><strong>Email:</strong> {{userInfo.email}}</div>
                </div>
                <div class="row float-right my-3">
                    <div class="col">
                        <p><strong>Phone:</strong> {{userInfo.phonenumber}}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary my-5" routerLink="/main">Go Back</button>
                </div>
            </div>
            <div class="col">
                <h4><strong>Address information: </strong></h4>
                <br>
                <div class="row float-right">
                    <p><strong>Street name:</strong> {{userInfo.address.addressLine | titlecase}}</p>
                </div>
                <div class="row float-right">
                    <p><strong>Street number:</strong> {{userInfo.address.strNumber}}</p>
                </div>
                <div class="row float-right">
                    <p><strong>ZIP Code:</strong> {{userInfo.address.zipCode}}</p>
                </div>
                <div class="row float-right">
                    <p><strong>City:</strong> {{userInfo.address.city | titlecase}}</p>
                </div>
                <div *ngIf="isOwner" class="col-lg-10">
                    <button type="button" class="btn btn-warning mt-4" (click)="setDefaultForm()">Update your
                        profile</button>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isOwner">
            <div *ngIf="isOwner" class="dangerZone text-center">
                <h4>You enter in the danger zone!</h4>
                <button type="button" class="btn btn-danger btn-large mt-4" (click)="deleteProfile()">Delete your
                    profile</button>
            </div>
        </div>
    </div>
</div>
<div class="update" *ngIf="update">
    <div class="update-container" *ngIf="userInfo">
        <form [formGroup]="form" (ngSubmit)="updateUser(form.value)">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-phone fa-lg"></i><span class="asteriks">&#42;</span>
                            </div>
                        </div>
                        <input class="form-control" type="number" placeholder="Phone number" id="phonenumber"
                            name="phonenumber" formControlName="phonenumber">
                        <i class="fas fa-check" *ngIf="form.get('phonenumber').valid && form.get('phonenumber').touched"
                            [ngClass]="{checked: form.get('phonenumber').valid}"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-city fa-lg"></i><span class="asteriks">&#42; </span>
                            </div>
                        </div>
                        <input class="form-control" type="text" placeholder="City" id="city" name="city"
                            formControlName="city">
                        <i class="fas fa-check" *ngIf="form.get('city').valid && form.get('city').touched"
                            [ngClass]="{checked: form.get('city').valid}"></i>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-map-marked-alt fa-lg"></i><span class="asteriks">&#42; </span>
                            </div>
                        </div>
                        <input class="form-control" type="text" placeholder="Address" id="addressLine"
                            name="addressLine" formControlName="addressLine">
                        <i class="fas fa-check" *ngIf="form.get('addressLine').valid && form.get('addressLine').touched"
                            [ngClass]="{checked: form.get('addressLine').valid}"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-envelope fa-lg"></i><span class="asteriks">&#42; </span>
                            </div>
                        </div>
                        <input class="form-control" type="number" placeholder="ZIP Code" id="zipCode" name="zipCode"
                            formControlName="zipCode">
                        <i class="fas fa-check" *ngIf="form.get('zipCode').valid && form.get('zipCode').touched"
                            [ngClass]="{checked: form.get('zipCode').valid}"></i>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-map-marker-alt fa-lg"></i><span class="asteriks">&#42; </span>
                            </div>
                        </div>
                        <input class="form-control" type="number" placeholder="Number" id="strNumber" name="strNumber"
                            formControlName="strNumber">
                        <i class="fas fa-check" *ngIf="form.get('strNumber').valid && form.get('strNumber').touched"
                            [ngClass]="{checked: form.get('strNumber').valid}"></i>
                    </div>
                </div>
                <br>
                <div class="row text-center my-4">
                    <div class="col">
                        <button type="button" class="btn btn-primary" (click)="goBack()">Back to profile</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-success" type="submit">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>