.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  background-color: rgb(20, 196, 172);
  color: white;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #e6e214;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1%;
}

h1 a {
  color: black;
  list-style: none;
  text-decoration: none;
  font-family: "Fredoka One", cursive;
  font-size: larger;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons button {
  background-color: rgb(20, 196, 172);
  color: white;
  margin-right: 25px;
}
section {
  align-self: baseline;
}
.profile {
  color: rgb(20, 196, 172);
}
hr {
  border: 3px solid rgb(15, 96, 189);
}
.container {
  height: 18%;
}
img {
  height: 35px;
  margin-right: 10px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
#myBtn,
#myNav {
  display: none;
}
.container-fluid {
  display: none;
}
@media all and (max-width: 450px) {
  .container,
  .btn,
  .dropdown-content,
  .dropdown {
    display: none;
  }
  .container-fluid,
  #myBtn,
  #myNav {
    display: block;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  #heather {
    text-align: center;
  }
  :horizontal {
    max-width: 100%;
  }
}
