.container {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 15%;
}
.user,
.professional {
  text-align: center;
  width: 100%;
  background-color: rgba(222, 232, 243, 0.356);
  padding: 50px;
}
h2,
div,
p {
  font-family: "Roboto Condensed", sans-serif;
}
.user {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.professional {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
button {
  color: white;
}
.container-fluid {
  display: none;
}
@media all and (max-width: 450px) {
  .container-fluid {
    display: block;
  }
  .container {
    display: none;
  }
}
