.container {
  margin-bottom: 2%;
}
.buttons {
  display: flex;
  flex-direction: row;
}
button {
  color: white;
}
.btn {
  border-radius: 15px;
}
.user section {
  text-align: center;
}
.user {
  text-align: center;
  float: right;
  width: 50%;
  height: 250px;
  background-color: rgba(222, 232, 243, 0.356);
  padding: 30px;
}
h2,
div,
p {
  font-family: "Roboto Condensed", sans-serif;
}
.user {
  border-radius: 10px;
}
.container-fluid {
  display: none;
}
@media all and (max-width: 450px) {
  .container-fluid {
    display: inherit;
  }
  .container {
    display: none;
  }
  .user section {
    text-align: center;
  }
  .user {
    text-align: center;
    float: right;
    width: 100%;
    height: 250px;
    background-color: rgba(222, 232, 243, 0.356);
    padding: 30px;
  }
  h2,
  div,
  p {
    font-family: "Roboto Condensed", sans-serif;
  }
  .user {
    border-radius: 10px;
  }
  .buttons {
    margin-top: 50%;
  }
}
