<div class="container-fluid">
    <section class="user">
        <h2>You search a professional?</h2>
        <div>
            <section>
                <p>You need a plumber, an electrician, a carpenter or a painter?</p>
                <p>Find the right professional for your purposes creating your profile and discover our network of
                    specialists.</p>
                <section class="buttons">
                    <button type="button" class="btn btn-success mx-3 btn-lg " routerLink="/register">Create
                        an account</button> <br>
                    <button type="button" class="btn btn-warning mx-3 btn-lg " routerLink="/login">You have
                        your
                        profile</button>
                </section>
            </section>
        </div>
    </section>
</div>
<div class="container">
    <section class="user">
        <h2>You search a professional?</h2>
        <div>
            <section>
                <p>You need a plumber, an electrician, a carpenter or a painter?</p>
                <p>You want to find a person you can trust?</p>
                <p>Find the right professional for your purposes creating your profile and discover our network of
                    specialists.</p>
                <section class="buttons">
                    <button type="button" class="btn btn-primary my-3 btn-lg btn-block" routerLink="/register">Create
                        an account</button> <br>
                    <button type="button" class="btn btn-warning my-3 btn-lg btn-block" routerLink="/login">You have
                        your
                        profile</button>
                </section>
            </section>
        </div>
    </section>
</div>